@use './../../assets/styles/vars';

@mixin gridAuto($elements: 2, $gap: 20px) {
    display: grid;
    grid-template-columns: repeat($elements, auto);
    align-items: center;
    column-gap: $gap;
}

.navbar {
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    position: absolute;

    .menuLeft {
        @include gridAuto($gap: 82px);

        .logo {
            width: 185px;

            img {
                width: 100%;
            }
        }

        .menu {
            @include gridAuto($elements: 5, $gap: 36px);

            .menuItem {
                font-size: 16px;
                font-weight: 400;
                color: vars.$lightBlue;
                transition: color .2s;

                &:hover {
                    color: vars.$pink;
                }
            }
        }
    }

    .menuFunctions {
        @include gridAuto($gap: 40px);
        color: vars.$lightBlue;
        
        .function {
            cursor: pointer;
            transition: color .2s;
            
            &:hover {
                color: vars.$pink;
            }
        }

        .btn {
            padding: 10px 53px;
            border: 1px solid #465B95;
            border-radius: 68px;
            cursor: pointer;
            transition: background-color .3s, color .3s, border .3s;
                
            &:hover {
                background-color: vars.$pink;
                color: vars.$white;
                border-color: transparent;
            }
        }

        .menuBtn {
            width: 38px;
            height: 38px;
            display: none;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                height: 100%;
            }

            .open {
                width: 24px;
                height: 24px;
                display: block;
            }

            .close {
                width: 38px;
                height: 38px;
                display: none;
            }

            &.open {
                .open {
                    display: none;
                }

                .close {
                    display: block;
                }
            }
        }
    }

    .mobileMenu {
        padding: 15px 20px;
        position: absolute;
        top: 85px;
        left: 0;
        right: 0;
        width: 100%;
        background: vars.$darkBlue; 
        display: none;
        grid-template-rows: repeat(5, auto);
        row-gap: 20px;
        z-index: 1;

        .menuItem {
            color: vars.$lightBlue;
            transition: color .2s;

            &:active, &:visited {
                color: vars.$lightBlue;
            }

            &:hover {
                color: vars.$pink;
            }
        }
    }
}

@mixin button($paddingHorizontal) {
    display: inline-block;
    padding: 10px $paddingHorizontal;
    font-size: 16px;
    font-weight: 400;
    border-radius: 68px;
}


.hero {
    width: 100%;
    height: 825px;
    display: flex;
    align-items: center;
    background-image: url('./../../assets/images/bg1.png'), url('./../../assets/images/bg2.png'), url('./../../assets/images/heroBg1.png'), url('./../../assets/images/heroBg2.svg');
    background-position: top left,
                         top center,
                         top center,
                         center bottom;
    background-repeat: no-repeat;
    overflow: hidden;

    .content {
        display: grid;
        grid-template-columns: 550px calc(100% - 469px);
        align-items: center;
        column-gap: 150px;

        .info {
            .title {
                font-size: 50px;
                font-weight: 700;
                line-height: 60px;
                color: vars.$white;
                margin-bottom: 15px;
            }

            .text {
                font-size: 18px;
                font-weight: 400;
                line-height: 27px;
                color: vars.$lightBlue;
                margin-bottom: 50px;
            }

            .btn {
                @include button($paddingHorizontal: 80px);
                background-color: vars.$pink;
                border: 1px solid vars.$pink;
                color: vars.$white;
                line-height: 30px;
                transition: .3s;

                &:hover {
                    background-color: transparent;
                    border: 1px solid vars.$lineBlue;
                }
            }
        }

        .imgContainer {
            position: relative;
            display: grid;
            align-items: center;
            -webkit-user-select: none;
            user-select: none;

            @keyframes appear {
                0% {
                    opacity: 0;
                    transform: translateY(12px);
                }

                100% {
                    opacity: 1;
                    transform: translateY(0px);
                }
            }
            
            .bars {
                width: 360px;
                background-color: vars.$white;
                position: absolute;
                border-radius: 32px;
                left: -69px;
                opacity: 0;
                transition: 0.3s;
                z-index: 1;
                animation-name: appear;
                animation-duration: 1s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
                animation-delay: 1.5s;


                .barsContainer {
                    padding: 26px 48px 36px 34px;
                    box-shadow: 0px 19.224853515625px 53.40237045288086px -16.02071189880371px rgba(25, 42, 89, 0.20);
                    border-radius: 32px;

                    img {
                        width: 100%; 
                    }
                }
            }

            .img {
                padding: 25px 32px;
                background-color: #FFFFFF;
                border-radius: 30px;
                box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.20);
                opacity: 0;
                transition: 0.3s;
                animation-delay: 1s;
                animation-name: appear;
                animation-duration: .5s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }
        }
    }
}

.features {
    text-align: center;
    padding-top: 38px;
    padding-bottom: 70px;

    .title {
        font-size: 40px;
        font-weight: 700;
        color: vars.$darkBlue;
        margin-bottom: 30px;
    }

    .text {
        font-size: 18px;
        font-weight: 400;
        color: vars.$lightBlue;
        line-height: 27px;
        margin-bottom: 80px;
    }

    .content {
        display: grid;
        grid-template-columns: repeat(3, 32%);
        justify-content: space-between;
        column-gap: 20px;

        .item {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            .img {
                width: 60px;
                height: 60px;
                margin-bottom: 26px;
                -webkit-user-select: none;
                user-select: none;
                
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .title {
                font-size: 16px;
                font-weight: 700;
                color: vars.$darkBlue;
                margin-bottom: 15px;
            }

            .text {
                font-size: 16px;
                font-weight: 400;
                color: vars.$lightBlue;
                line-height: 23px;
                margin-bottom: 0;
            }
        }
    }
}

.infoSection {
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: auto 600px;
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;

    .info {
        max-width: 480px;

        .title {
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 30px;
            color: vars.$darkBlue;
        }

        .text {
            font-size: 18px;
            font-weight: 400;
            color: vars.$lightBlue;
            line-height: 27px;
        }
    }

    .img {
        width: 100%;
        height: 410px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background-color: vars.$white;
        box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.20);
        -webkit-user-select: none;
        user-select: none;
    }

    &.infoSectionV2 {
        grid-template-columns: 600px auto;

        .info {
            grid-column: 2 / 3;
        }

        .img {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
    }
}

.pricing {
    max-width: 100%;
    padding-top: 225px;
    height: 1225px;
    background-image: url('./../../assets/images/footerBg2.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;

    .wrapper {
        max-width: 1180px;
    }

    .title {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 30px;
        color: vars.$white;
        text-align: center;
    }

    .text {
        max-width: 50%;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        color: vars.$lightBlue;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
    }

    .slider {
        max-width: 100%;

        .slide {
            width: 340px;
        }

        .item {
            max-width: 100%;
            padding: 50px 50px 70px 50px;
            background: vars.$darkerBlue;
            box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.20);
            text-align: center;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .title {
                font-size: 30px;
                font-weight: 700;
                margin-bottom: 10px;
            }

            .users {
                font-size: 18px;
                font-weight: 400;
                line-height: 27px;
                margin-bottom: 37px;
                color: vars.$lightBlue;
            }

            .divider {
                width: 100%;
                height: 1px;
                background-color: vars.$lineBlue;
                margin-bottom: 28px;
            }

            .price {
                font-size: 60px;
                font-weight: 700;
                color: vars.$white;

                .currency {
                    font-size: 30px;
                }
            }

            .perText {
                font-size: 16px;
                font-weight: 400;
                line-height: 23px;
                margin-bottom: 40px;
                color: vars.$lightBlue;
            }

            .btn {
                border: 1px solid vars.$darkBlue;
                border-radius: 68px;
                padding: 10px 80px;
                font-size: 16px;
                font-weight: 400;
                color: vars.$white;
                cursor: pointer;
                transition: .3s;

                &:hover {
                    background: vars.$pink;
                }
            }

            &.active {
                background: vars.$white;
                box-shadow: 0px 18px 50px -15px #060F28;

                .title {
                    color: vars.$darkBlue;
                }

                .divider {
                    background-color: #D3D9E9;
                }

                .price {
                    color: vars.$darkBlue;
                }

                .btn {
                    background-color: vars.$pink;
                    border: none;

                    &:hover {
                        background-color: vars.$darkerBlue;
                    }
                }
            }
        }
    }
}

.footer {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    .line {
        width: 100%;
        height: 1px;
        background-color: vars.$lineBlue;
    }

    .content {
        padding-top: 63px;
        padding-bottom: 103px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        width: 138px;

        img {
            width: 100%;
        }
    }

    .menu {
        display: grid;
        grid-template-columns: repeat(4, auto);
        column-gap: 36px;

        .item {
            font-size: 14px;
            color: vars.$lightBlue;

            &:active, &visited {
                color: vars.$lightBlue;
            }
        }
    }

    .socials {
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 40px; 
    }
}

// Responsive

@media screen and (max-width: 1400px) {
    .hero {
        background-size: 40%, auto, auto, auto;
    }
}

@media screen and (max-width: 1200px) {
    .hero .content {
        grid-template-columns: 450px calc(100% - 450px - 69px);
    }
}

@media screen and (max-width: 1000px) {
    .pricing .wrapper {
        max-width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .navbar {
        padding-top: 20px;
        padding-bottom: 20px;
        box-shadow: 0px 4px 4px 0px #12214D;
        background: vars.$darkBlue;
        position: relative;

        .menuLeft {
            column-gap: 10px;

            .logo {
                width: 138px;
            }

            .menu {
                display: none;
            }
        }

        .menuFunctions {
            .btn {
                display: none;
            }

            .menuBtn {
                display: flex;
            }
        }

        .mobileMenu {
            display: grid;
            visibility: hidden;
            transform: scaleY(0);
            transform-origin: top;
            transition: .4s;

            &.open {
                visibility: visible;
                transform: scaleY(1);
            }
        }
    }

    .hero {
        height: auto;
        padding-bottom: 80px;
        background-image: url('./../../assets/images/heroBg1.png'), url('./../../assets/images/heroBg2.svg');
        background-size: cover, 100%;
        background-position: 10% center, center bottom ;
        align-items: flex-start;
        padding-top: 30px;

        .content {
            grid-template-columns: 100%;
            grid-template-rows: auto auto;
            row-gap: 26px;

            .info {
                grid-row: 2 / 3;

                .title {
                    font-size: 31px;
                    line-height: 37px;
                }

                .text {
                    margin-bottom: 26px;
                }
            }

            .imgContainer {
                grid-row: 1 / 2;

                .bars {
                    display: none;
                }

                .img {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .features {
        .content {
            grid-template-columns: 49% 49%;
            row-gap: 35px;
            
            .item:nth-child(3) {
                grid-column: 1 / 2;

                .text {
                    width: 100%;
                }
            }
        }
    }

    .infoSection {
        grid-template-columns: auto 400px;

        .img {
        //     height: auto;
            padding-inline: 15px;

            img {
                width: 100%; 
            }
        }

        &.infoSectionV2 {
            grid-template-columns: 400px auto;
        }
    }
}

@media screen and (max-width: 768px) {
    .features {
        padding-top: 50px;
        padding-bottom: 40px;

        text-align: left;

        .title {
            font-size: 30px;
            margin-bottom: 20px;
        }

        .text {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 40px;
        }

        .content {
            .item {
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: 20px auto;
                text-align: left;
                column-gap: 28px;
                align-items: start;
                row-gap: 10px;

                .title {
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                    margin-bottom: 0;
                }

                .text {
                    font-size: 14px;
                    line-height: 20px;
                    grid-column: 2 / 3;
                    grid-row: 2 / 3;
                }

                .img {
                    grid-column: 1 / 2;
                    grid-row: 1 / 3;
                }
            }
        }
    }
    
    .infoSection {
        padding-top: 30px;
        padding-bottom: 30px;
        grid-template-columns: 100%;

        .img {
            padding: 15px 20px;
            height: auto;
        }

        .info {
            max-width: 100%;
            margin-bottom: 30px;

            .title {
                font-size: 30px;
                margin-bottom: 20px;
            }

            .text {
                font-size: 14px;
                line-height: 20px;
            }
        }

        &.infoSectionV2 {
            display: block;
        }
    }

    .pricing {
        height: 980px;

        .title {
            font-size: 30px;
            text-align: left;
            margin-bottom: 20px;
            padding-left: 20px;
        }

        .text {
            font-size: 14px;
            line-height: 20px;
            text-align: left;
            margin: 0 0 60px 0;
            padding-left: 20px;
        }

        .slider {
            .item {
                padding: 35px 37px 47px 37px;
        
                .title {
                    font-size: 25px;
                    margin-bottom: 7px;
                }
        
                .users {
                    font-size: 13px;
                    line-height: 18px;
                }
        
                .divider {
                    margin-bottom: 30px;
                }
        
                .perText {
                    font-size: 13px;
                    line-height: 18px;
                    margin-bottom: 36px;
                }
        
                .btn {
                    width: 100%;
                    padding: 15px 0;
                }

                // Light version 
                background: vars.$white;
                box-shadow: 0px 18px 50px -15px #060F28;

                .title {
                    color: vars.$darkBlue;
                }

                .divider {
                    background-color: #D3D9E9;
                }

                .price {
                    color: vars.$darkBlue;
                }

                .btn {
                    background-color: vars.$pink;
                    border: none;

                    &:hover {
                        background-color: vars.$darkBlue;
                    }
                }
            }
        }
    }

    .footer {
        grid-template-columns: auto auto;

        .content {
            padding-top: 45px;
            padding-bottom: 45px;
        }

        .menu {
            display: none;
        }
    }
}

@media screen and (max-width: 556px) {
    .hero .content .info {
        .btn {
            width: 100%;
            padding: 10px auto;
            text-align: center;
        }
    }

    .features {
        .content {
            grid-template-columns: 100%;

            .item:nth-child(3) {
                grid-column: auto;

                .text {
                    width: auto;
                }
            }
        }
    }
}